<html>
<body>
    <div class="container">
    </div>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
                In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form>
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" name="usrname" class="input" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="mail"  >
                    </div>
                    <div *ngIf="showCheck"><p style="color: red;" >Tài khoản không tồn tại</p></div>
                    <div *ngIf="showCheckall"><p style="color: red;" >Chưa nhập tài khoản</p></div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" >
                    </div>
                    <div *ngIf="showCheck1"><p style="color: red;" >Sai mật khẩu</p></div>
                    <div *ngIf="showCheckpass"><p style="color: red;" >Chưa nhập mật khẩu</p></div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In" (click)="check()">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a [routerLink]="['/forgotpassword']">Forgot Password?</a>
                    </div>
                </form>
                </div>
                <div class="sign-up-htm">
                        <div class="group">
                                <label class="label">Full name</label>
                                <input  type="text" class="input" [(ngModel)]="formStudent.fullname" required>
                                <div *ngIf="showChecksu4"><p style="color: red;" >Chưa nhập họ và tên</p></div>
                            </div>
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input"  [(ngModel)]="formStudent.username" required>
                        <div *ngIf="showChecksu1"><p style="color: red;" >Chưa nhập username</p></div>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="formStudent.password" required>
                        <div *ngIf="showChecksu2"><p style="color: red;" >Chưa nhập password</p></div>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="pass" type="text" class="input" [(ngModel)]="formStudent.email" required>
                        <div *ngIf="showChecksu3"><p style="color: red;" >Chưa nhập email</p></div>
                    
                    </div>
                    <div class="group">
                        <label for="birthday" class="label">Birthday</label>
                        <input id="birthday" type="date" class="input" [(ngModel)]="formStudent.birthday" required>
                        <div *ngIf="showChecksu3"><p style="color: red;" >Chưa nhập ngày sinh</p></div>  
                    </div>
                    <div class="group">
                        <label for="birthday" class="label">Gender</label>
                        <select style="width: 100%; padding: 5px;" [(ngModel)]="formStudent.gender">
                            <option value="volvo" value="true">Nam</option>
                            <option value="saab" value="false">Nữ</option>
                        </select>
                        <div *ngIf="showChecksu3"><p style="color: red;" >Chưa nhập giới tính</p></div>  
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up" (click)="studentLogin()">
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>