<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/liststudents']">Home</a></li>
      <li class="breadcrumb-item">Sinh vien</li>
      <li class="breadcrumb-item active" aria-current="page">{{list.LastName}}</li>
    </ol>
  </nav>
<div class="card">
        <div class="card-header">
                <i class="fa fa-table"></i> Detalis 
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-2">
                  Last name :
                  <br>
                  First name :
                  <br>
                  EnrollDate : 
              </div>
              <div class="col-10">
                    {{list.LastName}}
                    <br>
                    {{list.FirstMidName}}
                    <br>
                    {{list.EnrollmentDate}}  {{list.Id}}
                </div>
          </div>
          <br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Course Title</th>
                <th scope="col">Grade</th>
                <th scope="col">Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr>                
                <td>{{list.courses.Title}}</td>
                <td>{{list.enrollments.Grade}}</td>
                <td>{{list.courses.Credits}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <script>
        Object:{{list.Id}};
      </script>
