<div class="card">
  <div class="card-header">
    Leaf Rake
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        Name :<br>
        Code :<br>
        Description :<br>
        Availabillty :<br>
        Price :<br>
        5 Start Rating:<br>
      </div>
      <div class="col-4">
        Leaf Rake<br>
        GDN-0011<br>
        Leaf rake with 48-inch wooden handle<br>
        March 19,2016<br>
        $19.95<br>
        3.2<br>
      </div>
      <div class="col-6">
        <img src="assets\images\choi.jpg" style="width: 30%;">
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
  </div>
</div>