<div class="login-wrap">
        
                <div class="hero-text">
                  <h1 style="font-size:50px">Manager</h1>
                  <p><i class="fab fa-facebook-square"></i> Manager</p>
                  <p><i class="fas fa-envelope-open-text"></i> manager1768@gmail.com</p>
                  <p><i class="fas fa-phone-square"></i> 0598745214</p>
                  <button [routerLink]="['/contact']">Contact</button>
               
                </div>
                <h4 style="text-align: center; color: #fff; padding: 50px 50px 0 50px;">
                        <i class="fab fa-adn"></i>
                        Dễ dùng - Dễ học
                        Giao diện đẹp mắt, dễ dùng và logic, bài học được bố trí theo mục lục sách giáo khoa nên học sinh dễ dàng tìm được bài mình muốn ôn, học. Con có thể học bất cứ lúc nào, ở đâu, trên bất cứ thiết bị nào.                        
                </h4>
                <h4 style="text-align: center; color: #fff;">
                        <i class="fab fa-adn"></i>
                        Phù hợp mọi trình độ
Với việc chia bài theo cấp độ từ Dễ (1sao) đến Khó (3sao) dễ dàng giúp các con củng cố kiến thức ngay cả khi lực học của con đang hơi yếu.
                </h4>
                <h4 style="text-align: center; color: #fff; padding-bottom: 50px;">
                        <i class="fab fa-adn"></i>
                        Vừa học - vừa chơi
                        Ngoài việc học, chương trình đố vui TOÁN HỌC có thưởng và thi đấu giúp các con thêm hứng thú thi đua. Việc kết bạn mới để trao đổi cũng giúp con tiến bộ trong học tập
                        
                </h4>

</div>